<div class="component-container">
  <input clrInput placeholder="Enter a city" name="city" 
    [(ngModel)]="city"
    (keydown.enter)="search()"
  />

  <div class="card" *ngIf="weatherData">
    <div class="card-header">{{weatherData.name}}</div>
    <div class="card-block">
      <div class="card-title">{{weatherData.main.temp}} °C</div>
      <div class="card-text">
        <p>Pressure: {{weatherData.main.pressure}}</p>
        <p>Humidity: {{weatherData.main.humidity}}</p>
        <p>Wind: {{weatherData.wind.speed}}</p>
      </div>
    </div>
  </div>
</div>
